<script type="text/x-handlebars" data-template-name="session">
  <div class="buttons">
    <div {{ action open_session_picker2 }} class="open">Open</div>
    <div {{ action open_session_picker }} class="save">Save</div>
    <div class="print">Print</div>
  </div>
  <div class="title"><a href=""><span>Home</span></a> &#8594; <span>Dose Adjustment</span></div>
  <div id="dosing">
	 <div id="topBarWrapper">
	    {{view GTCA.ConditionsField token_find_url="/conditions"
	                                class="search condition"
	                                valueBinding="conditions_input"}}
	
	    <div class="drug_search_container">
	      <div class="dose_button" {{ action calculate }} >Dose</div>
	      {{view GTCA.DrugsField token_find_url="/drugs"
	                             class="search drug"
	                             valueBinding="drugs_input"}}
	    </div>
	</div>
    <div class="results">
      {{view Bootstrap.Tabs itemTitleKey="drug.title"
                            contentBinding="predictions"
                            selectionBinding="selection" class="tab_title"}}
      {{ outlet }}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="prediction">
  <div class="color_band"></div>
  <div class="drug container-fluid">
      <div class="row-fluid session_title">
        <div class="span12">
          <div class="medication_title">{{drug.title}}, {{dosage}}mg</div>
          <div class="label_title">
            Prescribed for{{#each conditions}}<span>, &nbsp;{{ title }}</span>{{/each}}
          </div>
        </div>
      </div>
      <div class="overview row-fluid">
        <div class="span6">
          <div class="name">
            <div class="large">Recommended Dosage</div>
            <div class="small">based on {{ controllers.patient.name }}&#39;s genetic information</div>
          </div>
          <div class="value more_padding recommended">
            {{ dosage }}mg<span class="small_date">/day</span>
          </div>
        </div>
        <div class="span6">
          <div class="name">
            <div class="large">Baseline Dosage</div>
            <div class="small">without genetic information</div>
          </div>
          <div class="value baseline">
            <div class="typical_dose">
              {{ typical_dosage }}mg
            </div>
          </div>
        </div>
      </div>
      <div class="factors row-fluid">
        <div class="span12">
          <table>
            <tr>
              <th>{{ controllers.patient.name }} has the following factors</th>
              <th>Percent change in baseline dosage</th>
              <th></th>
            </tr>
            {{#each factors}} 
            <tr>
              <td {{bindAttr class=":factor kind"}}>
                <div class="name">{{ name }}</div>
                <div class="type">{{ kind }}</div>
              </td>
              <td class="effect"><span {{bindAttr class="polarity"}}>{{renderEffect effect}}</span></td>
              <td class="learn_more">
                {{#linkTo factor this}}<span>Learn More</span>{{/linkTo}}
              </td>
            </tr>
            {{/each}}
          </table>
        </div>
        <div class="factor_container">
          {{ outlet }}
        </div>
      </div>
    </div>
</script>

<%= include patient_dosing_saved_template %>
<%= include patient_dosing_save_template %>
<%= include patient_dosing_learn_more_template %>
