<script type="text/x-handlebars" data-template-name="save">
  <div class="modal hide fade" id="save-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Save Session</h3>
      <div id="snp-label">SNP</div>
    </div>
    <div class="modal-body factor-detail">
      <div class="section">
        <h4>Effect of Factor on Dose</h4>
        <div class="main-info">T allele in patient&#39;s genotype CT increases risk of adverse effects</div>
      </div>
      <div class="section">
        <h4>Overview of CY2C9*2</h4>
        <div class="main-info"><a href="http://www.ncbi.nlm.nih.gov/snp/?term=rs1234" target="_blank">CYP2C9*2 (rsID:rs1799853)</a> is a variant of the gene <a href="http://omim.org/entry/601130" target="_blank">CYP2C9</a></div>
        <table>
          <tr><th>Mutation</th><td>C<span class="mutation">C</span> -> C<span class="mutation">T</span> Missense (Val -> Met)</tr>
          <tr><th>PharmGKB Level of Evidence</th><td><a href="http://www.pharmgkb.org/page/clinAnnLevels" target="_blank">1A</a></td></tr>
        </table>
      </div>
      <div class="section last">
        <h4>Publications related to CYP2C9*2</h4>
        <div class="publication"><a href="http://www.ncbi.nlm.nih.gov/pubmed/23563037" target="_blank">Variability in CYP2C9 allele frequency: A pilot study of its predicted impact on warfarin response among healthy South and North Indians. Nahar R, Deb R, Saxena R, Puri RD, Verma IC. Pharmacol Rep. 2013;65(1):187-94.</a>
          <table class="info">
	          <tr>
				<td>Sample size = 209.82</td>
				<td>Frequency of allele in population = 0.006, 0.05</td>
				</tr>
				<tr>
				<td>Sample type = North Indian, South Indian</td>
				<td>p < 0.001</td>
			  </tr>
		  </table>
      </div>

      </div>
    </div>
  </div>
</script>
