<script type="text/x-handlebars" data-template-name="factor">
  <div class="modal hide">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>{{ name }}</h3>
    </div>
    <div class="modal-body factor-detail">
      <table>
        <tr><th>Mutation</th><td>Missense, <span class="change">C</span>GT > <span>T</span>GT (Val > Met)</td></tr>
        <tr><th>Level of Evidence</th><td>1A</td></tr>
        <tr><th>Race</th><td>White</td></tr>
        <tr><th>dbSNP</th><td>http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs=2108622</td></tr>
        <tr><th>OMIM</th><td>http://omim.org/entry/601130</td></tr>
      </table>

      <table>
        <tr><th>Frequency</th><td>0.4</td></tr>
        <tr><th>P-value</th><td>0.05</td></tr>
        <tr><th>Dose</th><td>Lower Dosage</td></tr>
        <tr><th>Population Size</th><td>1000 participants</td></tr>
        <tr><th>Population</th><td>White/Caucasian</td></tr>
      </table>
    </div>
  </div>
</script>