<script type="text/x-handlebars" data-template-name="session-picker2">
  <div class="modal hide fade" id="save-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Open Session</h3>
      <div id="snp-label">Nikhil Venkatesan&#39;s prescription sessions</div>
    </div>
    <div class="modal-body factor-detail">
      <div class="section last">
        <h4>Select session</h4>
        <table>
        <tr>
          <td>
            <div class="main-info2" onclick = "javascript: console.log(this.style)">
              <div class="date">4/21/13</div>    
            </div>
          </td>
        </tr>
        <td>
         <div class = "tab-info">
            <div class="drug-name">2mg Warfarin</div>
            <div class="condition-name">Atrial Fibrillation, Pulmonary Embolism</div>
            <div class = "space"></div>
            <div class="drug-name">1mg Metformin</div>
            <div class="condition-name">Diabetes, Type 1</div>
          </div>
        </td>
        <tr>
        <td>
          <div class="main-info2">
            <div class="date">2/3/13</div>
          </div>
        </td>
        </tr>
        <td>
           <div class = "tab-info">
            <div class="drug-name">2mg Tylenol</div>
            <div class="condition-name">Migraine</div>
          </div>
          </td>
        </table>       
      </div>
      <div class="buttons">
        <button type="button" class="learn_more" data-dismiss="modal" aria-hidden="true"><span>cancel</span></button>
        <button type="button" class="learn_more" data-dismiss="modal" aria-hidden="true"><span>open</span></button>
      </div>
    </div>
  </div>
</script>
