<script type="text/x-handlebars" data-template-name="session">
  <div class="buttons">
    <div {{ action open_session_picker }} class="save"></div>
    <div class="print"></div>
  </div>
  <div class="title">Dose Adjustment</div>
  <div id="dosing">
    {{view Ember.TextField placeholder="Enter condition to prescribe for..."
                           class="condition"
                           valueBinding="condition"}}

    {{view GTCA.DrugTextField placeholder="Add drug..."
                              class="drug"
                              valueBinding="drug"}}

    <div class="results">
      {{view Bootstrap.Tabs itemTitleKey="title"
                            contentBinding="content.drugs"
                            selectionBinding="selection" class="tab_title"}}
      {{ outlet }}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="drug">
  <div class="color_band"></div>
  <div class="drug container-fluid">
      <div class="session_title">
        <div class="label_title">MEDICATION - CONDITION(S)</div>
        <div class="medication_title">{{ title }} - Atrial Fibrillation</div>
      </div>
      <div class="overview row-fluid">
        <div class="span6">
          <div class="name">
            <div class="large">Recommended Dosage</div>
            <div class="small">based on {{ controllers.patient.name }}&#39;s genetic information</div>
          </div>
          <div class="value more_padding">{{ dosage }}mg<span class="small_date">/day</span></div>
        </div>
        <div class="span6">
          <div class="name">
            <div class="large">Baseline Dosage</div>
            <div class="small">without genetic information</div>
          </div>
          <div class="value"><div class="typical_dose"></div></div>
        </div>
      </div>
      <div class="factors row-fluid">
        <div class="span12">
          <table>
            <tr>
              <th>{{ controllers.patient.name }} has the following factors</th>
              <th>Effect on Dosage</th>
              <th></th>
            </tr>
            {{#each factors}} 
            <tr>
              <td {{bindAttr class=":factor kind"}}>
                <div class="name">{{ name }}</div>
                <div class="type">{{ kind }}</div>
              </td>
              <td class="effect"><span class="increase">{{renderEffect effect}}</span></td>
              <td class="learn_more">
                {{#linkTo factor this}}<span>Learn More</span>{{/linkTo}}
              </td>
            </tr>
            {{/each}}
          </table>
        </div>
        <div class="factor_container">
          {{ outlet }}
        </div>
      </div>
    </div>
</script>

<%= include patient_dosing_save_template %>
<%= include patient_dosing_learn_more_template %>