.modal {
	
	background-color: #f0f0f0;
	
	.modal-header {
		border-bottom: none;
		background-image: url(/images/snp.png);
		background-size: auto 37px;
		background-position: 8px 16px;
		background-repeat: no-repeat;
		padding-left: 45px;
	}
	
	.factor-detail.modal-body {
		padding: 0 15px;
		max-height: none;
	
		div.section {
			border: 1px solid rgba(4, 4, 4, 0.15);
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
			margin-bottom: 10px;
	
			h4 {
				background: #f6f6f5;
				padding: 15px;
				border-bottom: 1px solid #eee;
				margin-top: 0;
				margin-bottom: 0;
			}
	
			.main-info {
				padding: 15px;
				text-align: center;
				background-color: #FFF;
			}
	
			span.mutation {
				color: red;
			}
	
			table {
				tbody {
					tr {
					
					border-bottom: none !important;
					border-top: solid thin #e6e6e6;
					
						th {
							background-color: #FFF !important;
							font-size: 1em;
						}
					}
				}
			}
	
			div.publication {
				padding: 15px;
				background-color: #FFF;
	
				table.info {
					
					margin-top: 5px;
					
					tr {
					border-top: none;
					font-size: 0.8em;
					
						td {
							padding: 0px !important;
						}
					
					}
					
				}
			}
		
		&.last {
			margin-bottom: 15px;
		}
		
		}
		
	}

}

